<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Sobre</ion-title>

    <ion-icon name="phone-portrait" slot="end"
    size="large" class="ion-margin-end" routerLink="/home" color="primary"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam id, esse minima maiores quo quam modi unde
    corrupti dolores cupiditate, accusamus ipsam officia harum repellat officiis nisi numquam atque odit?</p>

</ion-content>
