<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Erro 404</ion-title>

    <ion-icon name="phone-portrait" slot="end"
    size="large" class="ion-margin-end" routerLink="/home" color="primary"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <ion-img src="assets/404error.jpg" alt="Erro 404"></ion-img>

  <p>O conteúdo que você está tentando acessar não pode ser encontrado.</p>
  <p>Use a navegação para sair dessa enrascada...</p>
  <p>
    <ion-button expand="block" routerLink="/home">
      <ion-icon name="home" slot="start"></ion-icon>
      Início
    </ion-button>
  </p>

</ion-content>
